@page "/AddAdult"
@page "/Edit/{Id:int}"
@attribute [Authorize(Policy = "Level2")]

@using WebApplication.Shared.Models
@using WebApplication.Shared.Persistence

@inject NavigationManager NavigationManager
@inject IAdultPer AdultPersistence

<h3>@button Adult</h3>

  <EditForm Model="@adultToManipulate" OnValidSubmit="@PerformOperation">
       
        <div class="form-group">
            First Name: <br/>
            <InputText rows="1" @bind-Value="adultToManipulate.FirstName"/>
        </div>
        
        <div class="form-group">
            Last Name: <br/>
            <InputText rows="1" @bind-Value="adultToManipulate.LastName "/>
        </div>
        
        <div class="form-group">
            Hair Color: <br/>
            <InputText rows="1" @bind-Value="adultToManipulate.HairColor"/>
        </div>
        
        <div class="form-group">
            Eye Color: <br/>
            <InputText rows="1" @bind-Value="adultToManipulate.EyeColor"/>
        </div>
        
        <div class="form-group">
            Age: <br/>
            <InputNumber @bind-Value="adultToManipulate.Age"/>
        </div>
        
        <div class="form-group">
            Weight: <br/>
            <InputNumber @bind-Value="adultToManipulate.Weight"/>
        </div>
        
        <div class="form-group">
            Height: <br/>
            <InputNumber @bind-Value="adultToManipulate.Height"/>
        </div>
        
        <div class="form-group">
            Sex: <br/>
            <InputText @bind-Value="adultToManipulate.Sex"/>
        </div>
        
        <div class="form-group">
            Job Title: <br/>
            <InputText @bind-Value="adultToManipulate.JobTitle.JobTitle"/>
        </div>
        
        <div class="form-group">
            Salary: <br/>
            <InputNumber @bind-Value="adultToManipulate.JobTitle.Salary"/>
        </div>


        <p class="actions">
            <button class="btn btn-outline-primary" type="submit">@button</button>
        </p>
    </EditForm>

@code {
    private string button;
    private Adult adultToManipulate;
    private Job job;
    
    [Parameter]
    public int? Id { get; set; }

    protected override void OnInitialized()
    {
        if (Id == null)
        {
            adultToManipulate = new Adult();
            job = new Job();
            button = "Add";
        }
        else
        {
            
            try
            {
                adultToManipulate = AdultPersistence.GetAdultById(Id.Value);
                button = "Edit";
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                throw;
            }
        }
    }

    private void PerformOperation()
    {
        if (button == "Add")
        {
            adultToManipulate.JobTitle = job;
            AdultPersistence.AddAdult(adultToManipulate);
        }
        else
        {
            adultToManipulate.JobTitle = job;
            AdultPersistence.EditAdult(adultToManipulate);
        }
        NavigationManager.NavigateTo("/AllAdults");
    }
}